################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Simulador/v15/Server/sqlite3
/.vs/Simulador/v15
/Simulador/bin/Debug
/Tests/UnitTests/obj/Debug/build.force
